* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #ffffff;
  background-image: url("https://nhsbtdbe.blob.core.windows.net/umbraco-assets-corp/25124/blood-g4e28dcb97_1920.jpg");
}

header {
  background-color: #ffffffaf;
  color: #fff;
  padding: 1rem;
}

header nav ul {
  list-style: none;
}

header nav ul li {
  display: inline;
  margin-right: 20px;
}

main {
  padding: 20px;
  text-align: center;
}

.about {
  max-width: 800px;
  margin: 0 auto;
}

.about h2 {
  font-size: 2rem;
  margin-bottom: 20px;
}

.about p {
  font-size: 1.2rem;
  margin-bottom: 15px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #d32f2f52;
  color: #fff;
}
